/* GENERALS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
html {
  font-size: 62.5%;
  --ligthcolor: #D9D9DC;
  --midcolor: #787879;
  --accentcolor: #1176AD;
  background-color: white;
}

html * {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 {
  text-align: center;
  margin: 1rem;
}

html body h1 {
  color: var(--accentcolor);
  font-size: 3rem;
}

html body h2 {
  font-size: 2.4rem;
}

html body h3 {
  font-size: 2rem;
  -webkit-columns: var(--midcolor);
          columns: var(--midcolor);
}

html body h4 {
  color: var(--accentcolor);
  font-size: 1.5rem;
}

html body p {
  color: var(--midcolor);
  font-size: 1.8rem;
  text-align: justify;
  margin: 2rem;
}

html body input {
  font-size: 1.6rem;
}

html body .pending {
  font-size: 4em;
  color: var(--accentcolor);
  text-align: center center;
  padding: 100px;
  margin: auto;
}

.container__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.container__main .hero__rocket {
  display: none;
  width: 600vh;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/rocketdraw.svg);
}

.container__main .container__left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__main .container__left .hero__logo {
  background-image: url(../img/logo.png);
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.container__main .container__left .container__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__main .container__left .container__bottom .container__menu {
  text-align: center;
  background-color: var(--accentcolor);
  padding: 0em;
  border-radius: 20px;
  margin-bottom: 2em;
  -webkit-animation: colors 5s infinite;
          animation: colors 5s infinite;
}

.container__main .container__left .container__bottom .container__menu ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__main .container__left .container__bottom .container__menu a {
  display: inline-block;
  padding: .1em;
  font-size: 4.5em;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.container__main .container__left .container__bottom .container__menu a:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.container__main .container__left .container__bottom .container__menu .uil {
  color: white;
}

.container__main .container__left .container__bottom .container__menu .social {
  display: none;
}

.container__main .container__left .container__bottom .hero__welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__main .container__left .container__bottom .hero__welcome .hero__newsletterbutton {
  margin: 2rem;
}

.container__main .container__left .container__bottom .hero__welcome .hero__newsletterbutton form {
  max-width: 100%;
  position: relative;
}

.container__main .container__left .container__bottom .hero__welcome .hero__newsletterbutton form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid var(--accentcolor);
  outline: none;
  border-radius: 20px;
}

.container__main .container__left .container__bottom .hero__welcome .hero__newsletterbutton form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: var(--accentcolor);
  color: white;
  top: 6px;
  right: 6px;
  -webkit-animation: colors 5s infinite;
          animation: colors 5s infinite;
}

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #F4F4F4;
  opacity: 0.75;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.foot a {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 4rem;
  color: var(--midcolor);
}

.topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 2em;
}

.topmenu .menu__logo {
  display: none;
  margin-left: 2em;
  margin-right: auto;
  width: 50%;
}

.topmenu .menu__logo img {
  width: 20%;
}

.topmenu .menu__top {
  margin-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 10%;
  color: black;
}

.topmenu .menu__top .menu__link {
  display: none;
}

.topmenu .menu__top a, .topmenu .menu__top i {
  font-size: 1.4em;
  color: var(--accentcolor);
  text-decoration: none;
  margin: .5em;
}

.topmenu .menu__top a:hover, .topmenu .menu__top i:hover {
  color: black;
}

.rocketspage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.rocketspage .gallery {
  margin: 1rem;
  width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 2rem;
}

.rocketspage .gallery .cards {
  min-width: 300px;
  grid-column: span 3;
  max-width: 72em;
  border-radius: 2em;
  height: 360px;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.rocketspage .gallery .large {
  grid-column: span 6;
  max-width: 144em;
}

.rocketspage .gallery .tall {
  grid-row: span 2;
}

.rocketspage .gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
}

.rocketspage .gallery .info {
  display: none;
  z-index: 4;
}

.rocketspage .gallery .cards:before {
  background-color: white;
}

.rocketspage .gallery .cards:hover .info {
  width: 250px;
  display: inline;
}

.rocketspage .gallery .cards:hover img {
  opacity: 0.25;
}

.theteampage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.theteampage .team {
  width: 28rem;
  height: 48rem;
  overflow: hidden;
  margin: 2rem;
  border: 2px solid var(--accentcolor);
  border-radius: 16px;
  position: relative;
}

.theteampage .team img {
  position: absolute;
  width: 28rem;
  height: 100%;
  border-radius: 16px;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}

.theteampage .team .info {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 2rem;
  border-top: 4px solid var(--accentcolor);
  border-radius: 50% 50% 0px 0px;
  padding-top: 6rem;
  text-align: center;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.theteampage .team .info .social {
  padding-block: 16px;
  font-size: 2rem;
}

.theteampage .team .info .social i {
  display: inline-block;
  width: 5rem;
  padding: 10px;
  background-color: #ededed;
  color: var(--midcolor);
  border-radius: 16px;
  margin: 2px;
  cursor: pointer;
}

.theteampage .team .info .social i:hover {
  color: var(--ligthcolor);
  background-color: var(--midcolor);
}

.theteampage .team:hover img {
  width: 15rem;
  height: 26rem;
  border: 2px solid var --accentcolor;
  left: 6rem;
  top: 6rem;
}

.theteampage .team:hover .info {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.theteampage .team::before {
  content: '';
  background-image: var(--teamimg);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  -webkit-filter: blur(4px) grayscale(100%);
          filter: blur(4px) grayscale(100%);
  width: 100%;
}

.bookpage .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  background: var(--ligthcolor);
  background: radial-gradient(circle, var(--ligthcolor) 76%, var(--ligthcolor) 100%);
  border-radius: 2em;
  -webkit-box-shadow: 0px 5px 18px -6px var(--midcolor);
          box-shadow: 0px 5px 18px -6px var(--midcolor);
  max-width: 900px;
  margin: 70px auto;
  /* Small screens query */
}

.bookpage .card .card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bookpage .card .card__content .card__content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-left: 12em;
}

.bookpage .card .card__content .card__content-left img {
  position: absolute;
  left: 0.4em;
  top: -11em;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

.bookpage .card .card__content .card__content-right .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bookpage .card .card__content .card__content-right .info-content ul {
  margin: 0px;
  padding-left: 0px;
  list-style: none;
}

.bookpage .card .card__content .card__content-right .info-content ul li {
  margin-bottom: 10px;
}

.bookpage .card .card__content .card__content-right .info-content ul li:last-of-type {
  margin-bottom: 0px;
}

.bookpage .card .card__content .card__content-right .info-content ul li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

@media only screen and (max-width: 800px) {
  .bookpage .card .card__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bookpage .card .card__content .card__content-left {
    padding-left: 0px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .bookpage .card .card__content .card__content-left img {
    max-width: 120px;
    position: absolute;
    right: 0px;
    left: unset;
    top: -7em;
  }
  .bookpage .card .card__content .card__content-right h3 {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 450px) {
  .bookpage .card .card__content-right .info-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .bookpage .card .card__content-right .info-content ul {
    margin-bottom: 1.5em !important;
  }
  .bookpage .card .card__content-right .info-content a {
    width: -webkit-fill-available;
    text-align: center;
  }
}

.contactpage .contactbox {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contactpage .contactbox label, .contactpage .contactbox input, .contactpage .contactbox select, .contactpage .contactbox option, .contactpage .contactbox .button {
  font-size: 1.5rem;
  margin-top: 5px;
  border-radius: 1rem;
}

.contactpage .contactbox input, .contactpage .contactbox option {
  border: 1px solid var(--midcolor);
}

.contactpage .contactbox .button {
  margin-top: 2rem;
  border: none;
}

.contactpage .contactbox label, .contactpage .contactbox input, .contactpage .contactbox select {
  color: var(--midcolor);
}

.contactpage .contactbox .formbox {
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2rem;
}

.contactpage .contactbox .formbox select {
  border: 1px solid #639EBF;
  text-align: center;
  font-size: 2.4rem;
}

.contactpage .contactbox .formbox input {
  text-align: center;
  font-size: 2.4rem;
}

.contactpage .contactbox .formbox .button {
  background-color: #639EBF;
  color: white;
  font-size: 2.4rem;
}

.contactpage .contactbox .formbox__img {
  width: 40%;
  display: none;
}

@media only screen and (max-width: 934px) {
  .rocketspage {
    margin: 5px;
  }
  .rocketspage .gallery .cards {
    grid-column: span 6;
  }
  .rocketspage .gallery .tall {
    grid-row: span 1;
  }
}

/* MODIFY STYLE FOR LARGER SCREENS */
@media only screen and (min-width: 768px) {
  .topmenu .menu__logo {
    display: inline;
  }
  .topmenu .menu__top .menu__link {
    display: inline;
  }
  .container__main .hero__rocket {
    display: inline;
  }
  .container__main .container__left .container__bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container__main .container__left .container__bottom .container__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 2em;
  }
  .container__main .container__left .container__bottom .container__menu .social {
    display: block;
  }
  .contactpage .contactbox .formbox {
    width: 30%;
  }
  .contactpage .contactbox .formbox__img {
    display: inline;
  }
}

/* EFFECTS */
@-webkit-keyframes colors {
  0% {
    background-color: var(--accentcolor);
  }
  25% {
    background-color: #639EBF;
  }
  75% {
    background-color: var(--midcolor);
  }
  100% {
    background-color: var(--accentcolor);
  }
}
@keyframes colors {
  0% {
    background-color: var(--accentcolor);
  }
  25% {
    background-color: #639EBF;
  }
  75% {
    background-color: var(--midcolor);
  }
  100% {
    background-color: var(--accentcolor);
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
/*# sourceMappingURL=index.css.map */