.rocketspage{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    .gallery{
        margin: 1rem;
        width: 100%;
        width: 100%;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-content:center;
        gap: 2rem;
        .cards{
            min-width: 300px;
            grid-column: span 3;
            max-width: 72em;
            border-radius: 2em;
            height: 360px;
            padding: 2rem 1rem;
            display: flex;
            position: relative;
            align-items: flex-end;
            transition: 0.5s all;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            
        }
        .large{
            grid-column: span 6;
            max-width: 144em;
        }
        .tall{
            grid-row: span 2;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 20px;
        }
        .info{
            display: none;
            z-index: 4;
        }
        .cards:before{
            background-color: white;
        }
        .cards:hover{
            .info{
                width: 250px;
                display:inline;
            }
            img{
                opacity: 0.25;
            }
        }
    }
}