/* FIXED FOOTER AT THE BOTTOM USED ON ALL EXCEPT HOME*/
.foot{
   /* position: fixed; */
   margin-top: 50px;
    bottom: 0;
    width: 100%;    
    height: 40px;
    background: var(--ligthcolor);
    opacity: 0.75;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    
    a{
        font-size: 2rem;
        margin-left: 1rem;
        margin-right: 4rem;
        color: var(--midcolor);
    }
    
}