/* STAFF PAGE, TRANSFORMATIONS ON ANIMATION DOC*/
.theteampage{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
     .team{
        width: 28rem;
        height: 52rem;
        overflow: hidden;
        margin: 2rem;
        border: 2px solid var(--accentcolor);
        border-radius: 16px;
        position: relative;
        img{
          position: absolute;
          width: 28rem;
          height: 100%;
          border-radius: 16px;
          z-index: 3;
          object-fit: cover;
        }
        .info{
            background-color: white;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            padding: 2rem;
            border-top: 4px solid var(--accentcolor);
            border-radius: 50% 50% 0px 0px;
            padding-top: 6rem;
            text-align: center;
            transform: scale(2);
            .social{
                padding-block: 16px;
                font-size: 2rem;
                i{
                    display: inline-block;
                    width: 5rem;
                    padding: 10px;
                    background-color: #ededed;
                    color: var(--midcolor);
                    border-radius: 16px;
                    margin: 2px;
                    cursor: pointer;
                }
                
                i:hover{
                    color: var(--ligthcolor);
                    background-color: var(--midcolor);
                }
            }
        }
    }
     .team:hover{
        img{
            width:15rem;
            height:26rem;
            border:2px solid var (--accentcolor);
            left: 6rem;
            top: 6rem;
        }
        
        .info{
            transform: scale(1);
        }
    }
    .team::before{
        content: '';
        background-image: var(--teamimg);
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        filter: blur(4px) grayscale(100%);
        width: 100%;
    }
}